#navbarNav{
    justify-content: flex-end;
}

body{
    font-family: 'Poppins', sans-serif;
}

a{
    color: white;
    text-decoration: none;
}
.item{
    margin: 1rem 3rem;
}
a:hover{
    color: white;
}
.about>.left,.about>.right{
    padding: 1.5rem;
}
section{
    margin: 2rem 0;
}
.about{
    border-radius: 20px;
background: #e0e0e0;
box-shadow:  31px 31px 70px #777777,
             -31px -31px 70px #ffffff;
}
@media only screen and (max-width: 600px) {
    #about{
        /* position: absolute; */
        flex-wrap: wrap;
    }
    #about{
        display:flex;
        justify-content:center;
        
    }
    .left{
        padding: 1rem;
    }
    .landing{
        display: flex;
        flex-direction: column;
    }
    .right{
        display: flex;
        justify-content:center;
        align-items:center;
    }
    .left_home,.right_home, .register_form{
        display:block;
        flex-wrap: wrap;
    }
    .register_form{
        position: absolute;
        flex-wrap: wrap;
    }
  }

.form_inputs_left, .form_inputs_right{
    width: 50%;
    flex-flow: row nowrap;
    margin: 1rem;
}

.left_home{
    width: 45%;
    padding: 4rem;
    margin:2rem  0rem ;
}

.home_heading{
    font-size:4.5rem;
}
.right_home{
    width: 55%;
}
.right_home{
    padding: 2rem;
}

input{
    margin: 0.5rem 0;
}

.home_heading2{
    text-align: center;
}

.landing{
    height: 100vh;
    /* background-color:rgb(239, 240, 220); */
    border-radius: 20px;
background: #e0e0e0;
box-shadow:  31px 31px 70px #bebebe,
             -31px -31px 70px #ffffff;
}

 img:hover{
    transition: translateY(2px);
}

.register_form{

    min-width: 0;
    background-color: rgb(253, 228, 228);
}
.form{
    min-width: 0;
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    flex-direction: row;
}
/* .item{
    width: 50%;
    flex: 1 0 25%;
    flex-direction: column;
    box-sizing: border-box;
} */