*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior: smooth;
}

.header{
    display:flex;
    justify-content: space-around;
}

.heading{
    color:#E43A6D;
    text-transform: uppercase;
}

.navigation{
    display: flex;
    margin-top:2rem;
    list-style: none;
}

.navigation li{
    padding:0.5rem;
    font-size: 20px;
}

a{
    color:black;
    text-decoration: none;
}

.landing{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* home page */
.home_heading2{
    font-size: 22px;
    justify-content: center;
    margin: 1rem 0;
}
.left_home{
    /* display: flex; */
    width: 40%;
    padding: 7rem;
}

.right_home{
    display: flex;
    width: 60%;
}

.home_heading{
    font-size: 50px;
}

.home-btn{
    padding: 0.5rem;
    border-radius: 20px;
    margin: 1.5rem 0;
}

.submit_button{
    width: 100%;
}

.dropdown{
    width: 100%;
}

/* home page */
.left{
    width: 50%;
}
.right{
    width: 50%;
    margin: 4rem;
}
form>input{
    flex: 50%;
}

.about_section{
    display: flex;
    justify-content: space-around;
    padding: 0 5rem;
    background-color: #EBEBEC;
}
.about_title{
    /* margin-bottom: 1rem; */
}
p{
    margin: 0.5rem 0;
}

.categories{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
label{
    display: block;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* form */
.register_form{
    background-color: rgb(212, 208, 208);
    display: flex;
    margin: 4rem 0;
    padding: .3rem;
}
.register_form input{
    margin: .3rem 0;
    padding: .3rem;
}
.form_inputs_left{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.form_inputs_left input, .form_inputs_right input{
    width: 90%;
}
.form_inputs_right{
    width: 50%;
    display: flex;
    flex-direction: column;

}

/* form */
input{
    display: block;
}
/* Contact Page  */
.left_contact{
    width: 50%;
    margin: 10rem;
}

.left_contact p{
    font-size: 20px;
}
/* Social Media Icons */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
/* Social Media Icons */
/* Contact Page */


section{
    margin: 2rem 0;
}