:root {
    --blue: #0a1a7b;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #da3d2a;
    --orange: #fdbc7d;
    --yellow: #ffc107;
    --green: #30d158;
    --teal: #077f7f;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --grey: #0a243f;
    --black: #131313;
    --black-2: #262626;
    --grey-1: #384853;
    --grey-2: #6b7b8a;
    --grey-3: #e3e6ea;
    --grey-4: #fafafa;
    --grey-5: #f1f2f4;
    --grey-6: #a3aeb8;
    --blue-3: #56ccf2;
    --default: #05051b;
    --purple-1: #9b51e0;
    --lavendar: #f09ce6;
    --pale-grey: #fafbfc;
    --dark-blue: #071a52;
    --pale-peach: rgba(243,101,35,0.2);
    --muted-blue: #e6f4f9;
    --muted-grey: #f0f6f9;
    --muted-pink: #ffebea;
    --muted-brown: #ecdbc9;
    --muted-green: #bee1dc;
    --muted-purple: #f0ebf5;
    --muted-orange: #fef9ef;
    --linkedin-blue: #0077b5;
    --google-blue: #4285f4;
    --primary: #0a1a7b;
    --secondary: #6c757d;
    --success: #30d158;
    --info: #17a2b8;
    --warning: #f88634;
    --danger: #ff5a5f;
    --light: #f8f9fa;
    --dark: #343a40;
}

#navbarNav{
    justify-content: flex-end;
}

body{
    background-color: rgb(241, 241, 240);
}

.item{
    display: flex;
    /* background-color:rgb(178, 219, 248); */
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

body{
    font-family: 'Poppins', sans-serif;
}

img{
    width: 40rem;
    padding: 4rem;
}
.left{
    width: 50%;
    padding: 8rem;
}
.right{
    width: 50%;
}

.item_heading{
    font-size:2.6rem;
    color: var(--primary);
}

.description{
    padding: 2rem;
    font-size:1.2rem;
}

.description_heading{
    color: cornflowerblue;
    font-weight: 600;
}

.course_image{
    width: 30rem;
    height: 25rem;
}

.btn-primary{
    background: linear-gradient(102.73deg,#f1087e -1.51%,#fc945f 131.82%);
    border-radius: 10px;
}


/* @media screen and (max-width: 680px) {
    .item{
        display: block;
    }
    .left{
        width: 100%;
        padding:2rem 5rem;
    }
    .btn{
        position: relative;
        left: 50%;
        transform: translate(-50%,50%);
    }
  } */